#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}



img {
  height: 64px;
  width: 64px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.cards{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card{
  border-radius: 30px;
  margin:20px;
  background-color: antiquewhite;
  border:0.5rem solid;
  
  border-color: brown;
  display: flex;
  flex-direction: column;
}

.cpuCard{
  border-radius: 30px;
  padding:2rem;
  margin:20px;
  background-color: antiquewhite;
  border:0.5rem solid;
  
  border-color: rgb(52, 12, 12);
  display: flex;
  flex-direction: column;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
